<!DOCTYPE html>
<html>
    <head>
        <title>RentCar</title>
        <!-- Bootstrap 3.3.5 -->
        <link rel="stylesheet" href="/stylesheets/lib/bootstrap-3.3.5.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="/js/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
 		<h1>Welcome to RentCar!</h1>
		<a href="/cars" class="btn btn-lg btn-success">View All Cars</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>